<div class="cs-nav-container" style="margin-top: 20px;;">
    <ul class="nav">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}" style="">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
</div>